.usd_brl{
    grid-column-start: 1;
    grid-column-end: 3;
    background:linear-gradient(to right, rgba(41, 222, 71, 0.865) 30%, rgba(199, 242, 245, 0.865));
    display: flex;
    padding:10px 20px;
}